.book__card {
  border-radius: 5px !important;

  .anticon-delete:hover {
    color: red !important;
  }

  .ant-card-actions {
    border-radius: 5px !important;
  }
}

.books {
  max-width: 900px;
  margin: 0 auto;
}

.load-more {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.loading{
  display: flex;
  justify-content: center;
}

.input-error {
  border: 1px red solid;
}