.sider {
  min-height: 100vh;
}

.logo {
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;

  .title {
    color: white;
    text-align: center;
    color: $primary;
    font-size: 2rem;
  }

  svg {
    height: 7rem;
    width: 100%;
  }
}

.ant-menu-item {
  border-radius: 5px !important;
  margin: 1rem !important;

  &-selected {
    background-color: #455361 !important;
  }
}