@import '~antd/dist/antd.css';
@import '_colors.scss';
@import '_sizes.scss';
@import '_sidebar.scss';
@import '_page.scss';
@import '_books.scss';


html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-medium;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

